@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary: rgb(44, 44, 44);
  --secondary: rgb(61, 61, 61);
  --discord: rgb(86, 98, 246);
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--primary);
  background-image: url("assets/background.png");
  /* background-repeat: repeat; */
  /* background-repeat:repeat-x; */
}

header {
  /* width: 100vw; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secondary);
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  border-width: 10px;
  border-image-slice: 1;
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  row-gap: 20px;
  border-image-source: linear-gradient(
    90deg,
    rgb(44, 44, 44) 0%,
    rgba(230, 230, 230, 1) 50%,
    rgb(44, 44, 44) 100%
  );
  .left,
  .right {
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    column-gap: 60px;
  }
}

header::after {
  height: 10px;
  background-color: red;
}

.branding {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  img {
    aspect-ratio: 1/1;
    height: 70px;
  }
  p {
    margin: 0;
  }
  .titles {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .titles > .main {
    color: white;
    font-weight: bolder;
    font-size: 50px;
  }
  .titles > .sub {
    color: white;
    font-size: 15px;
  }
}

.paging {
  color: white;
  font-size: x-large;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: white;
  }
}

.invite {
  background-color: var(--discord);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  float: right;
  /* margin-right: 40px; */
  cursor: pointer;
}

.invite:hover {
  filter: saturate(2);
}

.right {
  display: flex;
  justify-content: center;
}

.seperator {
  background: linear-gradient(
    90deg,
    rgb(44, 44, 44) 0%,
    rgba(230, 230, 230, 1) 50%,
    rgb(44, 44, 44) 100%
  );
  height: 10px;
  width: 100%;
}

.content {
  padding: 40px;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  .sub {
    gap: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    img {
      height: 100px;
    }
  }
  .feature {
    .command {
      margin: 0;
      font-size: x-large;
      background-color: #3d4270;
      width: fit-content;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    .command:hover {
      background-color: #5865f2;
    }
    /* .question-amount {
      color: var(--discord);
      font-weight: 900;
    } */

    .mark-discord-white {
      color: var(--discord);
      font-weight: 900;
      background-color: rgba(255, 255, 255, 0.356);
      padding: 3px;
      border-radius: 10px;
    }
    backdrop-filter: blur(4px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.37);
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.404);
    width: 60%;
    color: white;
    /* height: 100px; */
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.35);
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
  }
  .feature:hover {
    h1 {
      letter-spacing: 5px;
    }
    backdrop-filter: blur(10px);
    transition: all 0.25s ease-in-out;
    translate: 0px -5px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-color: rgba(255, 255, 255);
  }

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: normal;
  }

  h1 {
    transition: all 0.25s ease-in-out;
    color: var(--discord);
    font-weight: bolder;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  h3 {
    font-style: italic;
    color: gray;
    margin-bottom: 2.5px;
  }

  .feature.left {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    align-self: flex-start;
  }
  .feature.right {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    align-self: flex-end;
  }
  .feature.center {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    align-self: center;
  }
}

@media screen and (max-device-width: 1400px) {
  .content {
    padding-right: 40px;
    padding-left: 40px;
    .feature {
      width: 100%;
    }
    .feature.right,
    .feature.left,
    .feature.center {
      align-self: center;
    }
  }
}

footer {
  border-width: 10px;
  border-image-slice: 1;
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-image-source: linear-gradient(
    90deg,
    rgb(44, 44, 44) 0%,
    rgba(230, 230, 230, 1) 50%,
    rgb(44, 44, 44) 100%
  );
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 20px;
  /* align-items: center; */
  color: white;
  p {
    margin: 0;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .region {
    text-align: center;
    display: flex;
    flex-direction: column;
    .no-line-break {
      text-wrap: nowrap;
    }
    .title {
      font-size: x-large;
    }
  }

  .copyright {
    margin: 0;
    color: gray;
    align-self: center;
    /* text-align: center; */
  }
}

@media screen and (max-device-width: 1400px) {
  .hidden-mobile {
    display: none;
  }
}

@media screen and (max-device-width: 1200px) {
  footer {
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 50px;
    * {
      text-align: center;
    }
    .region {
      .no-line-break {
        text-wrap: pretty;
      }
    }
  }
  header {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
  }
}
